@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Poppins";
}

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Bold.ttf);
}
body {
  background-color: #eae6e1;
}

/* HEADER */
header {
  background-color: #004483;
  height: 80px;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

header .navbar {
  list-style: none;
  margin-bottom: 0;
}

header .navbar li {
  display: inline-block;
  padding: 0 20px;
}

header a {
  text-decoration: none;
}

header .navbar li a {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}

header .navbar li a:hover {
  color: #66aae9;
  transition: 0.3s;
}

header .navbar a.active {
  color: #66aae9;
}

.logo {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
}

/* FOOTER */
footer {
  text-align: center;
  background-color: #004483;
  color: white;
  padding-top: 10px;
}

footer .logoig {
  width: 38px;
  margin: 5px;
}

footer .logoface {
  width: 38px;
  height: 38px;
  border-radius: 10px;
  margin: 5px;
}

footer a {
  text-decoration: none;
}

footer .logoig {
  width: 32px;
  height: 32px;
  color: #fff;
}

footer .redes-icons {
  padding: 5px;
}

/* MAIN */
/* CONTAINER */
.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
}

.container h2 {
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.container h3 {
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin: 20px;
  width: 250px;
  transition: 0.7s;
}

/* novedades */
.novedades {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 50px;
  justify-content: space-around;
}

.novedades img {
  height: 370px;
}

.container .card:hover {
  background-color: #c7c7d6;
}

/* novedades */
.novedades {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.novedades img {
  height: 370px;
}

/* PRODUCTOS */
.container button {
  align-self: start;
}

/* SOBRE NOSOTROS */
.sobrenosotros {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sobrenosotros p {
  padding: 20px;
}

.sobrenosotros h1 {
  text-align: center;
  padding-top: 20px;
}

.sobrenosotros .quienes {
  text-align: center;
  padding: 5%;
}

.sobrenosotros .donde {
  text-align: center;
  padding: 5%;
}

/* CONTACTO */
.container-form form .campo, textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: 15px;
  border: 1px solid black;
  margin-bottom: 20px;
  border-radius: 3px;
  max-width: 530px;
  min-width: 530px;
  min-height: 150px;
  max-height: 150px;
  display: flex;
  flex-direction: row;
}

.container-form .btn-enviar {
  padding: 15px;
  font-size: 16px;
  border: none;
  background-color: #076ce0;
  color: white;
  border-radius: 3px;
}

main .hero-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url("../assets/images/inquietos-l.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .hero-img .info {
  color: white;
}

main .hero-img .info h1 {
  font-size: 50px;
  font-weight: 20px;
  font-family: "Poppins";
}

main .container h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 40px;
}

/*# sourceMappingURL=style.css.map */
