/* CONTACTO */

.container-form{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.contacto{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;

    h1 {
        font-family: "Libre Baskerville", serif;
        text-align: center;
        font-size: 3em;
    }

    .contact-form {
        color: #fff;
        padding: 1.5em;
        background-color: $subColor;
            form {
                display: grid;
                grid-template-columns: 1fr 1fr;
                p{
                margin: 0;
                padding: 1em;
                font-family: "Poppins";
                button, input, textarea{
                    width: 100%;
                    padding: .7em;
                    border: none;
                    background: none;
                    outline: none;
                    border-bottom: 1px solid $mainColor;
                    color: #fff;
                    font-family: "Poppins";
                }

                button{
                    background-color:$mainColor;
                    border: 0;
                    text-transform: uppercase;
                    padding: 1em;
                    color: #000;
                    &:hover, &focus{
                        background-color: $mainColor;
                    }
                }
                }

            }
        }
    }
    .contact-info{
        background-color: $mainColor;

        text-align: center;
        h4,ul,p{
            text-align: center;
            // margin: 0 0 1rem 0;
        }
        ul{
            list-style: none;
            padding: 0;
            li{
                padding: 0.3em;
            }
        }
    
    
}

.contact-info ul li svg{
    height: 20px;
    width: 20px;
}
.contact-form form .block{
    grid-column: 1/3;
}

