/* MAIN */
//boton flotante

.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: #0df053;
    fill: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
}

// HERO
main .hero-img{
    background-image: linear-gradient(rgba(0,0,0, 0.7),rgba(0,0,0, 0.9)), url("../assets/images/inquietos-l.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    .info{
        color: white;
        h1{
            font-size: 50px;
            font-weight: 20px;
            font-family: "Poppins" sans-serif;
        }
    }
}

/* CONTAINER */
.max-container{
    display: flex;
    flex-direction: column;
    padding: 10px;

    h2{
        text-align: center;
        padding: 20px;
        font-size: 35px;
        font-family: "Libre Baskerville", serif;
    }
    
    /* novedades */

    .novedades{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
        gap: 20px;
        justify-content: space-evenly;
        align-items: center;
        img{
            height: 370px;
            object-fit: cover;
        }
    }

    .card-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
        padding: 5px;
        width: auto;

        .info-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
    }

}

