/* FOOTER */
footer{
    text-align: center;
    background-color:$mainColor;
    color: white;
    padding-top: 10px;

    .logoig {
        width: 38px;
        margin: 5px;
    }

    .logos{
        width: 38px;
        height: 38px;
        border-radius: 10px;
        margin: 5px;
        fill: $subColor;
    }
    a{
        text-decoration: none;
    }
    .redes-icons{
        padding: 5px;
    }
}

