/* HEADER */

header {
    background-color: $mainColor;
    height: 80px; 
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // z-index: 100;
    position: sticky;
    top: 0;
}

header .navbar {
    list-style: none;
    margin-bottom: 0;
}

header .navbar li{
    display: inline-block;
    padding: 0 20px;
}
header a{
    text-decoration: none;
}

header .navbar li a{
    font-size: 18px;
    color:#fff;
    font-weight: 500;
}

header .navbar li a:hover{
    color:#66aae9;
    transition: 0.3s;
}
header .navbar a.active{
    color:#66aae9;
}

.logo {
    font-size: 32px;
    color: #fff;
    font-weight: 700;
} 

// header .logo img {
//     height: 80px;
//     width: 100px;
//     padding: 10px;
//     border-radius: 20%;
// } 