* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Poppins";
}

@font-face {
    font-family: "Roboto";
    src: url(../assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins-Bold.ttf);
}
body {
    background-color: #eae6e1;
}